<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Facebook Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:49</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:49</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:56</td>   <td>6866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.loadData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;loadData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:56</td>   <td>6914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.logStartMethod(java.lang.reflect.Method)[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;logStartMethod</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/07/11 15:00:57</td>   <td>7056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.createNewAccountTest(com.google.gson.JsonObject)[pri:0, instance:FacebookTest@91161c7]">createNewAccountTest</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:59</td>   <td>9401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logTestResultWithScreenshot(org.testng.ITestResult)[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;logTestResultWithScreenshot</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:00:59</td>   <td>9894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.logStartMethod(java.lang.reflect.Method)[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;logStartMethod</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/07/11 15:00:59</td>   <td>9894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.createNewAccountTest(com.google.gson.JsonObject)[pri:0, instance:FacebookTest@91161c7]">createNewAccountTest</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:01</td>   <td>11673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logTestResultWithScreenshot(org.testng.ITestResult)[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;logTestResultWithScreenshot</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:02</td>   <td>12065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.logStartMethod(java.lang.reflect.Method)[pri:0, instance:FacebookTest@91161c7]">&gt;&gt;logStartMethod</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/07/11 15:01:02</td>   <td>12065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.loginWrongPaswordTest(com.google.gson.JsonObject)[pri:0, instance:FacebookTest@91161c7]">loginWrongPaswordTest</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:18</td>   <td>28118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logTestResultWithScreenshot(org.testng.ITestResult)[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;logTestResultWithScreenshot</td> 
<td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:18</td>   <td>28422</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:18</td>   <td>28423</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/07/11 15:01:18</td>   <td>28440</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:FacebookTest@91161c7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
</table>
