<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LA Leads Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>20/05/13 17:22:52</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:FacebookTest@e25b2fe]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>20/05/13 17:22:52</td>   <td>17</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:FacebookTest@e25b2fe]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>20/05/13 17:23:05</td>   <td>13419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.login(java.lang.String, java.lang.String)[pri:0, instance:FacebookTest@e25b2fe]">login</td> 
  <td>main@343965883</td>   <td></td> </tr>
</table>
