<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Facebook Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:FacebookTest@31ef45e3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:17</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:FacebookTest@31ef45e3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:57:53</td>   <td>-24590</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:FacebookTest@31ef45e3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/05/13 21:58:05</td>   <td>-12229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.createNewAccountTest(com.google.gson.JsonObject)[pri:0, instance:FacebookTest@31ef45e3]">createNewAccountTest</td> 
  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>20/05/13 21:58:12</td>   <td>-5696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookTest.createNewAccountTest(com.google.gson.JsonObject)[pri:0, instance:FacebookTest@31ef45e3]">createNewAccountTest</td> 
  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:05</td>   <td>-12575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.loadData(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:FacebookTest@31ef45e3]">&gt;&gt;loadData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:05</td>   <td>-12494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.logStartMethod(java.lang.reflect.Method)[pri:0, instance:FacebookTest@31ef45e3]">&gt;&gt;logStartMethod</td> 
<td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:12</td>   <td>-5696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.logStartMethod(java.lang.reflect.Method)[pri:0, instance:FacebookTest@31ef45e3]">&gt;&gt;logStartMethod</td> 
<td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:11</td>   <td>-6207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logTestResultWithScreenshot(org.testng.ITestResult)[pri:0, instance:FacebookTest@31ef45e3]">&lt;&lt;logTestResultWithScreenshot</td> 
<td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:17</td>   <td>-462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logTestResultWithScreenshot(org.testng.ITestResult)[pri:0, instance:FacebookTest@31ef45e3]">&lt;&lt;logTestResultWithScreenshot</td> 
<td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:57:53</td>   <td>-24565</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:FacebookTest@31ef45e3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>20/05/13 21:58:17</td>   <td>28</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:FacebookTest@31ef45e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414521932</td>   <td></td> </tr>
</table>
